@charset "utf-8";
/* CSS Document */
body{ background:#e8edf1; color: #000000;overflow-x:hidden;font-size: 0.24rem}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:16px/1.5 "Microsoft YaHei",Verdana;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
address,cite,dfn,em,i,var{font-style:normal;}
small{font-size:12px;}
ul>li{list-style:none;}
a{text-decoration:none; }a:link,a:visited,a:hover,a:active{text-decoration:none; outline:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
q:before,q:after{content:'';}:focus{outline:0;}legend{color:#000;}
fieldset,img{border:none; background:none;}button,input,select,textarea{font-size:100%;}
input{border:1px solid #c9c9c9;padding-right:10px;padding-left: 10px; color: #898989;line-height: 24px; height: 24px;}
input[type="radio"],input[type="checkbox"]{border:none; padding: 0;margin:0;cursor: pointer;}
input[type="radio"]{position: relative;top:7px;*top:2px;[;top:2px;]}
table{border-collapse:collapse;border-spacing:0;}
hr{border:none;height:1px;*color:#fff;}img{-ms-interpolation-mode:bicubic;}
a{cursor: pointer; color:#109ee8;}
a:hover{transition:all 0.35s ease-out 0s;-moz-transition:all 0.35s ease-out 0s;}
.brown{color: #c27b39 !important;}
.blue{color: #2f90fd !important;}
.green{color: #00cf2c !important;}
.red{color:#ff5256 !important;}
.yellow{color: #ff9f24 !important;}
.none{display: none;}
.hide{display: none !important;}
.fl-left{ float:left;}
.fl-right{ float:right;}
.clear:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear,.clearfix{zoom:1;}
.none{display: none;}
.margin-t-20{margin-top: 0.2rem}
.margin-t-40{margin-top: 0.4rem}
.margin-t-60{margin-top: 0.6rem}
.margin-t-80{margin-top: 0.8rem}
.border-t-none{border-top:none;}
.border-b-none{border-bottom: :none;}
.bgblack{background-color: #25282b;color: #65677e}
.bgwhite{background-color: #ffffff}
.font-33{font-size: 0.33rem}
.font-20{font-size: 0.20rem}
.brandyellow{color: #f4d33c}
.loading_more{text-align: center;height: 50px;line-height: 50px;position: relative;justify-content:center;color: #666; font-size: 0.22rem}
.load-icon{-webkit-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-webkit-animation-name:ico_loading;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear}
@-webkit-keyframes ico_loading{from{-webkit-transform:rotate(0deg) translateZ(0)}to{-webkit-transform:rotate(360deg) translateZ(0)} }